<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Admin
    </title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="/api/admin-page-34890645?email=<%=encodeURIComponent(email) %>">
                Admin CloudKitchen Pro
            </a>
            <div class="navbar-nav">
                <a class="nav-link" href="">All Recipe</a>
                <a class="nav-link" href="">Add Recipe</a>
                <a href="/logout" class="btn btn-danger">Logout</a>
            </div>
        </div>
    </nav>
    <div class="container mt-4">