<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Chef
    </title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="/api/chef-page-34890645?email=<%=encodeURIComponent(email)%>&&fullName=<%=encodeURIComponent(fullName)%>">
                Chef CloudKitchen Pro
            </a>
            <div class="navbar-nav">
                <a class="nav-link" href="">All Recipe</a>
                <a class="nav-link" href="/api/add-recipes-34890645">Add Recipe</a>
                <a href="/api/login-34890645" class="btn" style="background-color:rgb(234, 40, 40); color:white;">Logout</a>
            </div>
        </div>
    </nav>

    <div class="container text-center my-5 bg-info text-white p-5 rounded">
        <h1 class="display-4">🍳CloudKitchen Pro🍰</h1>
        <p class="lead">Enterprise Kitchen Management & Recipe Intelligence Platform</p>
        <p class="lead fw-bold">Welcome Chef <%= fullName %>!</p>
        <p class="lead fw-bold"> <%= email %>!</p>
    </div>

    
    <div class="container mt-4">
